@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400&display=swap");
@import "./mixins.scss";
@import "./variables.scss";

// к сожалению не успеваю привести все к удовлетворяющему меня виду
// можете взглянуть как я  работаю со стилями в этом проекте: https://github.com/klmntv/kvando.weatherApp
// src/styles и src/components (использую миксины, модульный scss и переменные)

:root {
  font-size: 1rem;
  padding: 2rem;
}
body {
  font: $base-font;
  color: $font-color;
  font-weight: $bold;
  background: $color4;
}
.graph {
  @include flex;
  background-color: $color;
  justify-self: center;
  margin: 10px;
  padding: 5px;
  border: 10px solid $color;
  border-radius: 100px;
  width: 150px;
  height: 75px;
}
ul {
  padding-left: 0px;
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "a b c"
    "a b c"
    "a b c";
}
.dropdown-toggle,
.dropdown-menu {
  width: 20vw;
  color: $color3;
}
.dropdown {
  @include flex;
}
.draggable {
  cursor: move;
  position: absolute;
  height: 150px;                 //временные стили для тестирования useDrag
  width: 150px;
  border: 10px solid red;
}
