@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
$base-font: "Roboto Mono", sans-serif;
$bold: 600;
$font-color: #373536;
$color: #ca61c6;
$color2: #1f35ff;
$color3: #f7db2a;
$color4:#f4f4f4;
